:root {
    --color-yellow: #fbe948;
    --color-yellow-2: #ffc700;
    --color-orange: #ff4800;
    --color-orange-2: #d90000;
    --color-violet: #d900ff;
    --color-violet-2: #af00f1;
    --color-green: #44e4a0;
    --color-black: #343434;
    --color-outline-black: #414141;
    --color-white: #ffffff;
}
