[data-module="dithered-image"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .inner {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    img,
    canvas {
        height: 100%;
        width: 100%;
    }

    img {
        position: relative;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 200ms ease-in-out;
        opacity: 1;
    }

    &[data-hover]:hover {
        canvas {
            opacity: 0;
        }
    }
}
