[data-module="dithered-image"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .inner {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    img,
    canvas {
        // reset styles
        object-fit: unset;
        max-width: unset;
        max-height: unset;

        // module styles
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transition: opacity 200ms ease-in-out;
        visibility: hidden;
    }

    &.ready {
        canvas,
        img {
            visibility: visible;
        }
    }

    &[data-hover]:hover {
        canvas {
            opacity: 0;
        }
    }
}
