[data-fancy-image-parent] {
    position: relative;
}

[data-module="fancy-image"] {
    // hide source image
    visibility: hidden;
}

[data-module="fancy-image"] + .fancy-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 100ms ease-in-out,
        opacity 200ms 100ms ease-in-out;

    .fancy-image__inner {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    img.fancy-image__img,
    canvas.fancy-image__canvas {
        // reset styles
        object-fit: unset;
        max-width: unset;
        max-height: unset;
        right: unset;
        bottom: unset;

        // module styles
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 1;
    }

    &.fancy-image--ready {
        visibility: visible;
        opacity: 1;
    }
}

[data-module="fancy-image"][data-pixel-animation-enabled]:not(
        [data-dither-enabled]
    )
    + .fancy-image.fancy-image--animate-end {
    canvas.fancy-image__canvas {
        transition: opacity 100ms linear;
        opacity: 0;
    }
}

// Hover styles
[data-module="fancy-image"][data-hover] + .fancy-image {
    canvas.fancy-image__canvas {
        opacity: 1;
        filter: blur(0px);
        transition:
            opacity 200ms linear,
            filter 300ms linear;
    }
}

[data-module="fancy-image"][data-hover] + .fancy-image:hover {
    canvas.fancy-image__canvas {
        opacity: 0;
        filter: blur(2px);
        transition:
            filter 200ms linear,
            opacity 300ms linear;
    }
}

// overrides
// fallback to original image if no effects are enabled
[data-module="fancy-image"]:not([data-dither-enabled]):not(
        [data-pixel-animation-enabled]
    ) {
    visibility: visible;
    + .fancy-image {
        visibility: hidden;
    }
}
