.home-scene {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &__inner {
        position: relative;
        height: 100%;
        width: 100%;
    }

    &__canvas {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        mix-blend-mode: soft-light;
    }

    &__confirm-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99999;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/img/texture-tile.gif");
        background-repeat: repeat;
    }

    &__coords {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__coords__inner {
        padding: 8px 16px;
        display: flex;
        flex-flow: row nowrap;
        gap: 16px;
    }

    #embed-host {
        position: absolute !important;
    }
}
