.arrows-wrapper {
    position: absolute;
    bottom: var(--margin);
    left: var(--margin);
    z-index: var(--z-index-ui);
}

.back-wrapper {
    position: absolute;
    bottom: var(--margin);
    left: var(--margin);
    opacity: 0;
}

.button-wrapper {
    position: relative;
    display: flex;
    gap: 0.5rem;
    flex-flow: row nowrap;
    align-items: end;
}

.middle-buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}
