.arrows {
    --gap: 1rem;
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
    position: absolute;
    bottom: var(--margin);
    left: var(--margin);
    z-index: var(--z-index-ui);
}

.back-wrapper {
    position: absolute;
    bottom: var(--margin);
    left: var(--margin);
    opacity: 0;
}

.button-wrapper {
    position: relative;
    display: flex;
    gap: var(--gap);
    flex-flow: row nowrap;
    align-items: end;
}

.middle-buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
}

.text-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.text {
    padding: 0.5rem 0;
}
