.arrowsWrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.backWrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.buttonWrapper {
    position: relative;
    display: flex;
    gap: 4px;
    flex-flow: row nowrap;
    align-items: end;
}

.middleButtons {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

button.button {
    border: none;
    width: 50px;
    height: 50px;
    background-color: #343434;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
